div#footer-container.container-fluid
	div#footer
		div.row
			div.col-5.align-self-start
				div#lang-toggle
					| #{lang.legal.language} : 
					- var langUri = activePage;
					- if(activeCat) { langUri = langUri + '/' + activeCat; }
					- if(activeProj) { langUri = langUri + '/' + activeProj; }
					a(href='/en/' + langUri class=(lang.lang == 'en' ? 'lang-active' : '')) EN
					| &nbsp;|&nbsp;
					a(href='/es/' + langUri class=(lang.lang == 'es' ? 'lang-active' : '')) ES
			div.col-7.align-self-end.text-right
				div#legal.small-text Copyright &copy; 2018 Carrie Vrtis. All Rights Reserved.