div#footer-container.container-fluid
	div#footer
		div.row.align-items-center
			div.col-5.justify-self-start
				div#lang-toggle
					| #{lang.legal.language} : 
					- var langUri = activePage;
					- if(activeCat) { langUri = langUri + '/' + activeCat; }
					- if(activeProj) { langUri = langUri + '/' + activeProj; }
					a(href='/en/' + langUri class=(lang.lang == 'en' ? 'lang-active' : '')) EN
					| &nbsp;|&nbsp;
					a(href='/es/' + langUri class=(lang.lang == 'es' ? 'lang-active' : '')) ES
			div.col-7.justify-self-end.text-right
				div#legal.small-text Copyright &copy; 2018 Carrie Vrtis.
					div.d-none.d-sm-block
						| All rights to text, image, and video content reserved.
						br
						| Source code available under the&nbsp;
						a(href='https://opensource.org/licenses/MIT' target='_blank') MIT License
						| &nbsp;on&nbsp;
						a(href='https://github.com/carriejv/carriejv-portfolio' target='_blank') Github
						| .