div.row.align-items-center.justify-content-start
	div.col-3.col-md-2
		div.project-nav-btn-container
			button.project-nav-btn-left.project-nav-btn(type='button' style='background: url("/static/media/buttons/arrow-left.png") center/100% 100% no-repeat')
	div.project-nav-slider-container.col-6.col-md-8
		div.project-nav-slider
			each w, j in v.projects
				if (w.contentType == 'html')
					a.project-nav-item(id='project-nav-item-' + j class=(activeProj == j ? 'project-nav-item-active' : '') href=rootDir + activePage + '/' + k + '/' + j) #{w.name}
				if (w.contentType == 'img')
					a.project-nav-item(id='project-nav-item-' + j class=(activeProj == j ? 'project-nav-item-active' : '') href=rootDir + activePage + '/' + k + '/' + j style='background: url("' + w.content.replace('%scale', 256) + '") center/cover no-repeat')
	div.col-3.col-md-2
		div.project-nav-btn-container
			button.project-nav-btn-right.project-nav-btn(type='button' style='background: url("/static/media/buttons/arrow-right.png") center/100% 100% no-repeat')
