@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Lato");
#home-text, #error-text {
  font-family: 'Josefin Sans', 'Open Sans', sans-serif;
  font-weight: 600;
}

#nav .nav-item {
  font-family: 'Josefin Sans', 'Open Sans', sans-serif;
  font-weight: 400;
}

html, body {
  font: 16px Lato, 'Open Sans', sans-serif;
  color: whitesmoke;
  margin: 0;
  min-width: 480px;
  overflow-x: hidden;
}

body {
  background: #030303 center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

hr {
  width: 85%;
  margin: 4px auto;
  border: 3px double whitesmoke;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#content {
  margin-top: 96px;
}

.alight {
  color: #9cbcff;
}

.adark {
  color: #5a8fff;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-shadow {
  text-shadow: 1px 1px 1px #000;
}

.small-text {
  font-size: 0.6em;
}

.section {
  background: #030303;
  background: rgba(3, 3, 3, 0.75);
  padding: 0.75em;
  margin-bottom: 0.3em;
  border-radius: 8px;
  border: 3px solid #030303;
}

.single-row-center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

.flex-spacing-container {
  width: 90%;
  margin: auto;
  padding: 4px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
}

.scrollable-container {
  padding-top: 16px;
  flex-grow: 1;
}

.img-caption {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 8px;
}

/* Navbar */
#nav-container {
  z-index: 999;
  background: #030303;
  background: rgba(3, 3, 3, 0.75);
  border-bottom: 3px ridge #030303;
  min-width: 480px;
  margin: 0;
  padding: 0;
  position: absolute;
}

#nav .navbar-brand {
  height: 64px;
  margin-left: 12px;
  border: none !important;
}

#nav .nav-item {
  font-size: 1.1em;
  margin-right: 0.3em;
  transition: color 1s ease-in-out;
}

.nav-active,
.nav-item:hover {
  color: #9cbcff !important;
}

/* Home Page */
#home-logo {
  width: 192px;
}

/* About Page */
#about-profile {
  width: 256px;
  border: 3px solid #030303;
  border-radius: 64px;
  overflow: hidden;
  margin: 0 auto 8px auto;
}

.about-header {
  text-align: center;
}

.about-tech-subheader {
  font-weight: bold;
}

.about-tech-item {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px;
}

.about-social-link {
  border: none !important;
}

.about-social-icon {
  width: 48px;
}

.about-social-icon:not(:last-of-type) {
  margin-right: 4px;
}

/* Project */
#project-viewer {
  width: 100%;
  min-height: 240px;
  background-repeat: no-repeat;
  background-position: center;
}

#project-viewer img {
  display: block;
  margin: auto;
  max-height: 80vh;
}

#project-description {
  width: 100%;
}

#project-tech-d {
  display: none;
}

#project-nav,
#project-nav-tabContainer,
.project-nav-cat {
  min-height: 92px;
}

.project-nav-tab {
  border: 3px ridge #f0f0f0;
}

.project-nav-tab.active {
  background: #5a8fff !important;
  font-weight: bold;
}

.project-nav-btn-container {
  justify-content: center;
  width: 100%;
  max-width: 64px;
  margin: auto;
}

.project-nav-btn {
  width: 100%;
  padding-top: 100%;
  border: none !important;
  cursor: pointer;
}

.project-nav-slider-container {
  overflow: hidden;
  position: relative;
  min-height: 92px;
}

.project-nav-slider {
  position: absolute;
  min-width: 100%;
  overflow-x: auto;
  display: block;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.project-nav-item {
  display: inline-block;
  vertical-align: top;
  flex-shrink: 0;
  font-weight: bold;
  white-space: normal;
  text-align: center;
  width: 126px;
  height: 84px;
  border: 1px solid whitesmoke;
  padding: 4px;
  margin: 4px;
}

.project-nav-item-active {
  border: 2px solid #5a8fff !important;
}

.project-hr {
  width: 100%;
  border: 1px solid whitesmoke;
  margin-bottom: 0.6em;
}

/* Contact Page */
#contact-form {
  margin-top: 16px;
}

#contact-response {
  font-weight: bold;
  margin: 16px 0;
}

#contact-confirm {
  color: #69d992;
}

#contact-err {
  color: #e37363;
}

/* Footer */
#footer-container {
  background: #030303;
  background: rgba(3, 3, 3, 0.75);
  border-top: 3px groove #030303;
  padding-bottom: 0.3em;
  width: 100%;
  color: #909090;
}

#lang-toggle,
#legal {
  margin-right: 8px;
}

.lang-active {
  font-weight: bold;
}

/* Error */
@media screen and (min-width: 576px) {
  #home-logo {
    width: 256px;
  }
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 768px) {
  #home-logo {
    width: 192px;
  }
  #home-text {
    text-align: left !important;
    padding-left: 1em;
  }
  #project-tech-d {
    margin-top: 8px;
    display: block;
  }
  #project-tech-m {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  #nav .nav-item {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 1200px) {
  #home-logo {
    width: 256px;
  }
  #home-text h1 {
    font-size: 4.0em;
  }
  #home-text h2 {
    font-size: 2.6em;
  }
  #home-text h3 {
    font-size: 2.1em;
  }
  #nav .nav-item {
    font-size: 2.2em;
  }
}
/*# sourceMappingURL=global.css.map */