@import url("https://fonts.googleapis.com/css?family=Staatliches|Lato");
html {
  font: 16px/1.1 Lato, 'Open Sans', sans-serif;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}

body {
  color: #f5f5f5;
  background: #030303 center/cover no-repeat;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

a:not(.nav-item),
a:visited:not(.nav-item),
a:hover:not(.nav-item),
a:active:not(.nav-item) {
  border-bottom: 1px solid currentColor;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

hr {
  width: 85%;
  margin: 4px auto;
  border: 3px double whitesmoke;
}

img {
  max-width: 100%;
  max-height: 100%;
}

pre {
  background: #f5f5f5;
  background: rgba(255, 255, 255, 0.65);
  padding: 0.75rem;
  border-radius: 0.5rem;
}

code {
  font: 'Lucida Console', Monaco, monospace;
}

#content {
  margin-top: 96px;
  margin-bottom: 16px;
}

.alight {
  color: #9cbcff;
}

.adark {
  color: #5a8fff;
}

.text-bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-shadow {
  text-shadow: 1px 1px 1px #000;
}

.small-text {
  font-size: 0.55rem;
}

.section {
  background: #030303;
  background: rgba(3, 3, 3, 0.75);
  padding: 0.75rem;
  margin-bottom: 0.3rem;
  border-radius: 8px;
  border: 3px solid #030303;
}

.scrollable-content {
  padding-top: 16px;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-spacing-container {
  width: 90%;
  margin: auto;
  padding: 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.img-caption {
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 8px;
}

.hidden {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Navbar */
#nav-container {
  z-index: 999;
  background: #030303;
  background: rgba(3, 3, 3, 0.75);
  border-bottom: 3px ridge #030303;
  min-width: 320px;
  margin: 0;
  padding: 0;
  position: absolute;
}

#nav #nav-content {
  max-width: 100%;
}

#nav .navbar-brand {
  height: 64px;
  margin-left: 12px;
  border: none !important;
}

#nav .nav-item {
  font: 400 1.1rem/0.8 "Staatliches", "Open Sans", sans-serif;
  font-variant: small-caps;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

#nav .nav-item:not(:last-of-type) {
  margin-right: 0.5rem;
}

#nav .collapsing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav .collapse.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-active,
.nav-item:hover {
  color: #9cbcff !important;
}

/* Home Page */
#home-logo {
  width: 192px;
}

#home-text,
#error-text {
  font: 600 1rem/1.2 "Staatliches", "Open Sans", sans-serif;
  font-variant: small-caps;
}

#home-subtext {
  height: 5.2rem;
}

#typing-text-ctr {
  position: relative;
  height: 0.91em;
}

#typing-spacer {
  display: none;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  49.99% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99.99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49.99% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99.99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.blink {
  -webkit-animation: blink 1.2s linear infinite;
          animation: blink 1.2s linear infinite;
}

/* About Page */
#about-profile {
  width: 256px;
  border: 3px solid #030303;
  border-radius: 64px;
  overflow: hidden;
  margin: 0 auto 8px auto;
}

.about-tech-item {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px;
}

.about-social-link {
  border: none !important;
}

.about-social-icon {
  width: 48px;
}

.about-social-icon:not(:last-of-type) {
  margin-right: 4px;
}

/* Project */
#project-viewer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#project-viewer img {
  margin: auto;
  max-height: 80vh;
}

#project-tech-d {
  display: none;
}

#project-nav-tabContainer {
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}

.project-nav-tab {
  font: 1.3rem/1 "Staatliches", "Open Sans", sans-serif;
  font-variant: small-caps;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 3px ridge #f0f0f0;
  padding: 8px 8px;
}

.project-tab {
  border: 3px ridge #f0f0f0 !important;
  padding: 8px 4px;
}

.project-tab.active {
  background: #5a8fff !important;
  font-weight: bold;
}

.project-card {
  display: block;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 8px;
  background: #030303;
  border: 2px inset #f5f5f5;
  -webkit-box-shadow: 2px 2px 6px #000;
          box-shadow: 2px 2px 6px #000;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  max-width: 256px;
  min-width: 192px;
}

.project-card:hover {
  -webkit-box-shadow: 6px 6px 2px #000;
          box-shadow: 6px 6px 2px #000;
  border: 2px inset #9cbcff;
}

.project-card:hover .project-card-vignette {
  opacity: 0;
}

.project-card-square {
  width: 256px;
  height: 256px;
}

.project-card-square a {
  pointer-events: none;
}

.project-card-square img {
  zoom: 0.4;
}

.project-card-img {
  color: #909090;
  font-size: 0.55rem;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.project-card-img img {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  min-width: 100%;
  min-height: 100%;
}

.project-card-img a {
  pointer-events: none;
  width: auto;
  height: auto;
}

.project-card-img h1,
.project-card-img h2,
.project-card-img h3,
.project-card-img h4,
.project-card-img h5 {
  font-size: 0.77rem;
}

.project-card-img div,
.project-card-img code,
.project-card-img pre {
  vertical-align: bottom;
  overflow: hidden;
}

.project-card-title {
  color: #f5f5f5;
  font: 1.4rem/1.1 "Staatliches", "Open Sans", sans-serif;
  font-variant: small-caps;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  vertical-align: bottom;
  padding: 4px;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 3;
  text-shadow: 2px 2px 1px #000;
}

.project-card-vignette {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.35) 100%);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.project-hr {
  width: 100%;
  border: 1px solid whitesmoke;
  margin-bottom: 0.6rem;
}

[data-content] img {
  display: inline-block;
}

/* Contact Page */
#contact-form {
  margin-top: 16px;
}

#contact-response {
  font-weight: bold;
  margin: 16px 0;
}

#contact-confirm {
  color: #69d992;
}

#contact-err {
  color: #e37363;
}

/* Footer */
#footer-container {
  background: #030303;
  background: rgba(3, 3, 3, 0.75);
  border-top: 3px groove #030303;
  padding-bottom: 0.3rem;
  width: 100%;
  color: #909090;
}

.lang-active {
  color: #f0f0f0 !important;
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  #home-logo {
    width: 256px;
  }
  #home-subtext {
    height: auto;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  #home-logo {
    width: 192px;
  }
  #home-text {
    text-align: left !important;
    padding-left: 1rem;
  }
  #typing-text {
    position: absolute;
    width: 9000px;
    text-align: left !important;
  }
  #typing-spacer {
    display: inline-block;
  }
  #project-tech-d {
    margin-top: 8px;
    display: block;
  }
  #project-tech-m {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  #nav .nav-item {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1200px) {
  #home-logo {
    width: 256px;
  }
  #home-text h1 {
    font-size: 4.0rem;
  }
  #home-text h2 {
    font-size: 2.6rem;
  }
  #home-text h3 {
    font-size: 2.1rem;
  }
  #nav .nav-item {
    font-size: 2.2rem;
  }
}
/*# sourceMappingURL=style.css.map */