@font-face {
  font-family: 'Snowstorm';
  src: url('Snowstorm Light.otf') format('opentype');
}

div {
    height: 0;
    width: 0;
}

#left-ctr {
    vertical-align: middle;
    text-align: center;
    width: 96px;
    height: 96px;
    display: inline-block;
    margin: auto;
    padding-right: 6px;
}

#right-ctr {
    font: 36px 'Snowstorm', sans-serif;
    color: black;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    margin-top: -28px;
    height: 120px;
    width: 320px;
    overflow: hidden;
}

#txt-ctr {
    position: relative;
    top: 44px;
    left: -382px;
    width: 338px;
    height: 54px;
    background: #c0b3f7;
    padding-left: 12px;
    padding-top: 8px;
    box-shadow: 8px 8px #3F3275;
}

#img-ctr {
    margin-left: 46px;
    margin-top: 46px;
    box-shadow: 8px 8px #3F3275;
}